* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}

/* HEADER ------------------------------------------------- */
nav {
    background: whitesmoke;
    height: 100px;
    padding: 10px 20px;
    overflow: hidden;
}

label.logo {
    margin-left: 10px;
    /* Adjusted margin for responsiveness */
    color: black;
    font-size: 45px;
    line-height: 75px;
    font-weight: bold;
    float: left;
}

label.logo a,
nav ul li a {
    color: black;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    line-height: 75px;
    border-left: 1px solid black;
    padding: 0 20px;
    font-size: 25px;
}

label.logo img {
    height: 75px;
    width: auto;
    float: left;
    margin-right: 20px;
    border: none;
}

/* SIDEBAR ------------------------------------------------- */
.sidebar {
    position: absolute;
    width: 270px;
    background: rgb(231, 231, 231);
    font-size: 25px;
    height: 100vh;
    overflow-y: hidden;
}

.sidebar header {
    margin: 20px 0 0 20px;
}

.sidebar ul li {
    display: table;
    margin-left: 20px;
}

.sidebar ul a {
    color: slategray;
}

.searchbar {
    border-radius: 100px;
    margin: 30px 0 0 20px;
    width: 225px;
    font-size: 25px;
    padding: 2% 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.filterList {
    display: none;
}

/* MAIN CONTENT ----------------------------------------------- */
.monkeyList {
    color: rgb(80, 80, 80);
    font-size: 25px;
}

.content {
    margin-top: 30px;
    float: left;
    margin-left: 300px;
}

.content .title {
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*border: 1px black solid;*/
    display: inline-block;
}

.monkeyLink {
    /*All Monkey Links*/
    color: inherit;
    text-decoration: underline;
    margin-right: 30px;
    width: 220px;
    display: inline-block;
    margin-top: 20px;
}

/* MONKEY CONTENT ---------------------------------------------*/
.monkeyImg {
    border: 1px black solid;
    height: 300px;
    width: 400px;
    margin-top: 15px;
}

.description {
    font-size: 20px;
    background-color: whitesmoke;
    height: 407px;
    overflow-y: scroll;
    padding: 2px 5px;
}

.content2 {
    position: absolute;
    
}

.content3 {
    display: inline-block;
    margin: 15px 20px 0px 420px;
    width: 400px;
}

.descriptionTitle {
    font-size: 25px;
    background-color: rgb(239, 239, 239);
    padding: 2px 5px;
}

/* STAR REVIEWS -----------------------------------------------*/
.review {
    font-size: 25px;
    margin-left: 60px;
}

.reviewNum {
    margin-top: 6px;
    position: absolute;
    font-size: 25px;
}

.fa-star {
    color: rgb(219, 219, 219);
    margin-right: 5px;
    visibility: hidden;
}

.fa-star:hover {
    color: orange;
    cursor: pointer;
    visibility: hidden
}

.fa-star:before {
    visibility: visible;
    position: absolute;
}

.fa-star:checked:before {
    color: orange;
    position: absolute;
}
/* SCREEN ADJUST --------------------------------------------- */
@media screen and (max-width: 800px) {
    .monkeyOfTheDayClass {
        display: none;
    }
    /*collapse about box*/
    .content2 {
        position: relative;
    }
    .content3 {
        margin: 15px 20px 0px 0px;
        width: 400px;
    }
}

@media screen and (max-width: 640px) {
    .sidebar {
        display: none;
    }

    .content {
        margin-left: 40px;
    }

    label.logo {
        margin-left: 10px;
        margin-right: 0px;
    }

    nav ul li {
        padding-left: 0px;
        border-left: none;
    }
}


/* LOGIN CONTENT ----------------------------------------------- */

.inputBox {
    border-radius: 100px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 250px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 8px;
}

.signIn,
.createAccount {
    margin-top: 10px;
    font-size: 20px;
    border: 2px black solid;
    padding: 5px 15px;
    border-radius: 100px;
    width: 250px;
    background: whitesmoke;
}

.clickHere {
    color: inherit;
    text-decoration: underline;
    display: inline-block;
    margin: 20px 0;
    font-size: 20px;
    color: rgb(80, 80, 80);
    overflow-x: visible;
}

.defaultText {
    font-size: 20px;
}

/* ARROWS ------------------------------------------------------ */

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/* Information (Sub Image)  --------------------------------------- */

.scrollImg button {
    width: 198px;
    border-radius: 0px;
    border: 1px black solid;
}

.infoTitle {
    margin-top: 5px;
    text-align: center;
    font-size: 25px;
    background: rgb(231, 231, 231);
}

.infoLeft {
    margin-top: 5px;
    width: 200px;
    text-align: right;
    position: absolute;
}

.information ul li {
    padding: 0px 3px;
}

.infoRight {
    margin-top: 5px;
    width: 200px;
    text-align: left;
    margin-left: 200px;
}

.information {
    background: whitesmoke;
    width: 400px;
}

.information ul li {
    margin-bottom: 5px;
}

.information ul li:nth-child(even) {
    background: rgb(239, 239, 239);
}