* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

/*HEADER-----------------------------------*/



nav {
    background: whitesmoke;
    height: 125px;
    padding-top: 20px;
}

label.logo {
    color: black;
    font-size: 45px;
    line-height: 75px;
    font-weight: bold;
    float: left;
    margin-left: 10%;
    border: 5px solid blue;
}

label.logo a {
    color: black;
}

nav ul {
    float: right;
    margin-right: 10%;
}

nav ul li {
    display: inline-block;
    line-height: 75px;
    border: 5px solid blue;
}

nav ul li a {
    color: black;
    font-size: 25px;
}

img {
    height: 75px;
    width: auto;
    float: left;
    margin-right: 20px;
}

/*SIDEBAR-------------------------------------*/
.sidebar {
    position: fixed;
    width: 325px;
    background: rgb(231, 231, 231);
    font-size: 25px;
    height: 100%;
}

.sidebar header {
    margin-left: 40px;
    margin-top: 20px;
}

.sidebar ul li {

    display: table;
    margin-left: 40px;
    border: 5px solid blue;
}

.sidebar ul a {
    color: slategray;
}

.searchbar {
    border-radius: 100px;
    margin-left: 40px;
    margin-top: 40px;
    width: 225px;
    font-size: 25px;
    padding: 2% 5%;
}

/*
a.active,a:hover{
    transition: .5s;
    background: lightgray;
}
*/
.monkey{
    text-decoration: underline;
    color: gray;
    font-size: 40px;
    
}
.content {
    margin-top:50px;
    float: left;
    margin-left: 350px;
    background: none;
}
.content h1{
    font-size: 100px;

}

.content a{
    color: inherit;
    text-decoration:inherit;
    box-sizing:border-box;
    margin-right: 70px;
    width: 300px;

}
